/* @import './base.css'; */
@import './index.css';

@font-face {
  font-family: 'Inter';
  font-weight: 100;
  src: url('@/assets/fonts/Inter-Thin.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 200;
  src: url('@/assets/fonts/Inter-ExtraLight.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('@/assets/fonts/Inter-Light.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('@/assets/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('@/assets/fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('@/assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('@/assets/fonts/Inter-Bold.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: url('@/assets/fonts/Inter-ExtraBold.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  src: url('@/assets/fonts/Inter-Black.ttf');
}

#app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: Inter;
}

main {
  min-height: 100vh;
}

div[role=region] {
  position: fixed;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted));
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--muted-foreground));
}
